{% extends 'profile/base.html' %} {% load bootstrap5 %}
{% block content %}
<div class="container-fluid" style="margin-top:30px;margin-bottom:12px;">
    <div class="row">
        <div class="col-md-8">
            {% if profile.image %}
            <img src="{{ profile.image.url }}" class="img-thumbnail" alt="prof">
            {% else %}
            <img src="avatar" alt="avatar">
            {% endif %}
            <h2>{{user.username}}</h2>

            <!--user bio-->
            {% if profile.bio %}
            <p>{{profile.bio.}}</p>
            {% else %}
            <p>{{user.username}} has no biography</p>
            {% endif %}
        </div>

        <div class="col-md-4">
            {% if users.username==user.username%}
            <a href="{% url 'editProfile' %}" type ="submit" >Edit Profile</a>
            <a href="{% url 'postImage'%}" ><button class="btn btn-primary my-2 " type="submit">Post Image</button>
        </div>

    </div>



    <div class="row" style="margin-top:25px; margin-bottom:25px">
        <div class="col-md-12">
            <h4 class="text-center"> Images by {{user.username}}</h4>
            <br>
            {% if images %}
            {% for images in images%}
            <div class="col-lg-4">
                <img src = "{{ image.image.url}}" class="img-responsive img-thumbnail"  data-toggle="modal" data-target="{{image.id}}">

            </div>
            {% endfor%} {% else%}
            <h4> {{user.username}} has no photos</h4>
            {% endif %}
        </div>
        <hr>
        <footer class="foot bg-dark " style:"font-size:22px;">
            <h4 class="text-center footmsg">
                copyright &copy;KrisTech -2022

            </h4>
        </footer>

    </div>

</div>
{% endblock %}
